@use "../styles/partials/fonts" as *;
@use "../styles/partials/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    overflow-x: scroll;
}

.home {
    display: flex;
    flex-direction: row;

    &__section {
        min-width: 1200px;
        margin-right: 5rem;
        margin-left: 3rem;
    }
}

.header {

    &__div {
        width: 20%;
    }

    &__image {
        height: 100vh;
    }
}

.nav {

    &__link {
        color: $white;
    }

    &__ul {
        margin: 2.5rem 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }
    
    &__li {
        list-style-type: none;
        color: $white;
        transition: .5s;
        font-size: 1.5rem;
        
        &:hover {
            color: $pink;
            transition: .5s;
        }

        &--subtitle {
            font-size: 1rem;
            text-align: center;
        }
    }
}

.main {

    display: flex;
    width: 100%;

    &__conversation {
        width: 100%;
    }

    &__image {
        width: 50%;
        border-radius: 12px;
    }

    &__text {
        margin-left: 2rem;
    }

    &__typewriter {
        font-family: "VT323";
        font-size: 2rem;
    }

    &__iframe {
        width: 100%;
        border-radius: 12px;
        height: 5rem;
        background-color: $purple;

        &--container {
            margin-top: 20rem;
        }
    }
}

.page2 {

    display: flex;

    &__titles {
        width: 25rem;
    }

    &__title {
        margin-bottom: 8px;
    }

    &__subtitle {
        color: $pink;
        font-size: 2rem;
        margin-top: .5rem;
    }

    &__image {

        height: 100%;
        min-width: 100%;

        &--div {
            margin: 2rem;
            height: 600px;
        }
    }

    &__end {
        align-self: flex-start;
        text-align: left;
        margin-right: 0;
    }
}

.page3 {

    &__image {
        border-radius: 12px;
        width: 80%;
    }
}

.page4 {

    &__titles {
        margin-right: 1rem;
    }

    &__section {
        display: flex;
        min-width: 1200px;
    }

    &__image {
        height: 40rem;
        margin-top: 3.125rem;
        border-radius: 12px;
    }
}