.header {
    display: flex;
    flex-direction: row;

    &__image {
        height: 100vh;
    }
}

.nav {

    &__link {
        color: white;
    }

    &__ul {
        margin: 2.5rem 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }
    
    &__li {
        list-style-type: none;
        color: white;
        font-size: 1.5rem;
        &:hover {
            color: #ff0099;
        }
    }
}

.main {

    &__image {
        width: 50%;
    }

    &__iframe {
        width: 30%;
        border-radius: 12px;
        height: 5rem;
    }
}