@use "../styles/partials/fonts" as *;

.header {
    display: flex;
    flex-direction: row;

    &__image {
        height: 100vh;
    }
}

.nav {

    &__link {
        color: white;
    }

    &__ul {
        margin: 2.5rem 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }
    
    &__li {
        list-style-type: none;
        color: white;
        transition: .5s;
        font-size: 1.5rem;
        &:hover {
            color: #ff0099;
            transition: .5s;
        }

        &--subtitle {
            font-size: 1rem;
            text-align: center;
        }
    }
}

.main {

    display: flex;

    &__image {
        width: 50%;
        border-radius: 12px;
    }

    &__text {
        margin-left: 2rem;
    }

    // &__conversation > * {
    //     font-family: "VT323";
    // }

    &__iframe {
        width: 100%;
        border-radius: 12px;
        height: 5rem;
        background-color: #5C22CD;
    }
}