@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.gallery {
    margin: 5rem;

    &__image {
        width: 30rem;
        border-radius: 12px;
        transform: scale(1);
        transition-duration: .5s;

        &:hover {
            transform: scale(1.5);
            transition-duration: .5s;
        }
    }
}