@font-face {
    font-family: 'apple_regular';
    src: url("../../assets/fonts/Apple/Apple\ ][.ttf") format('truetype'),
         url('../../assets/fonts/Apple/apple_-webfont.woff2') format('woff2'),
         url('../../assets/fonts/Apple/apple_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}